<form action="/auth/google_oauth2" method="post">
  <input type="hidden" name="authenticity_token" value="<%= Rack::Protection::AuthenticityToken.token(env['rack.session']) %>" />
  <input type="submit" value="Login with Google">
</form>
