<form action="/auth/google_oauth2" method="post">
  <%= authenticity_token_tag %>
  <span uk-icon="icon: google"></span>
  <input class="uk-button uk-button-default uk-border-rounded" type="submit" value="Login with Google">
</form>
